components:
  schemas:
    ErrorDetail:
      additionalProperties: false
      properties:
        location:
          description: Where the error occurred, e.g. 'body.items[3].tags' or 'path.thing-id'
          type: string
        message:
          description: Error message text
          type: string
        value:
          description: The value at the given location
      type: object
    ErrorModel:
      additionalProperties: false
      properties:
        detail:
          description: A human-readable explanation specific to this occurrence of the problem.
          examples:
            - Property foo is required but is missing.
          type: string
        errors:
          description: Optional list of individual error details
          items:
            $ref: "#/components/schemas/ErrorDetail"
          type:
            - array
            - "null"
        instance:
          description: A URI reference that identifies the specific occurrence of the problem.
          examples:
            - https://example.com/error-log/abc123
          format: uri
          type: string
        status:
          description: HTTP status code
          examples:
            - 400
          format: int64
          type: integer
        title:
          description: A short, human-readable summary of the problem type. This value should not change between occurrences of the error.
          examples:
            - Bad Request
          type: string
        type:
          default: about:blank
          description: A URI reference to human-readable documentation for the error.
          examples:
            - https://example.com/errors/example
          format: uri
          type: string
      type: object
    HealthOutputBody:
      additionalProperties: false
      properties:
        status:
          description: Liveness status, "ok" while the service is serving
          examples:
            - ok
          type: string
      required:
        - status
      type: object
info:
  contact:
    name: Sohag Hasan
    url: https://sohag.pro
  description: A production-grade payment ledger built on double-entry accounting. Every endpoint here is generated from the live Go handlers, so this spec always matches the running service.
  license:
    name: MIT
    url: https://github.com/sohag-pro/go-ledger/blob/main/LICENSE
  title: go-ledger API
  version: 0.1.0
openapi: 3.1.0
paths:
  /healthz:
    get:
      description: Returns 200 with {"status":"ok"} while the service is up. Used by the deploy pipeline and uptime monitoring.
      operationId: health-check
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthOutputBody"
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      summary: Liveness check
      tags:
        - meta
servers:
  - description: production
    url: https://go.sohag.pro
